Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.sub
configure
compile
depcomp
install-sh
ltmain.sh
missing
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
tags
*.bak
*~
*.lo
*.o

config.h.in
