[submodule "polylib"]
	path = polylib
	url = http://repo.or.cz/polylib.git
[submodule "isl"]
	path = isl
	url = http://repo.or.cz/isl.git
[submodule "pet"]
	path = pet
	url = http://repo.or.cz/pet.git
