[submodule "polylib"]
	path = polylib
	url = git://repo.or.cz/polylib.git
[submodule "omega"]
	path = omega
	url = git://repo.or.cz/omega.git
[submodule "isl"]
	path = isl
	url = git://repo.or.cz/isl.git
[submodule "isl-polylib"]
	path = isl-polylib
	url = git://repo.or.cz/isl-polylib.git
[submodule "cloog"]
	path = cloog
	url = git://repo.or.cz/cloog.git
