[submodule "polylib"]
	path = polylib
	url = git://repo.or.cz/polylib.git
[submodule "piplib"]
	path = piplib
	url = git://repo.or.cz/piplib.git
[submodule "omega"]
	path = omega
	url = git://repo.or.cz/omega.git
